@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
  /* --neon-color: #510CEF; */
  --neon-color: #BC13FE;
}


.neon {
  margin: 0;
  text-shadow:
    0 0 2px #FFF,
    0 0 4px #FFF,
    0 0 6px #FFF,
    0 0 15px var(--neon-color),
    0 0 23px var(--neon-color),
    0 0 36px var(--neon-color),
    0 0 42px var(--neon-color),
    0 0 67px var(--neon-color);
 
  animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {
  0% {
    text-shadow:
      0 0 2px #FFF,
      0 0 4px #FFF,
      0 0 6px #FFF,
      0 0 15px var(--neon-color),
      0 0 23px var(--neon-color),
      0 0 36px var(--neon-color),
      0 0 42px var(--neon-color),
      0 0 67px var(--neon-color);
  }

  100% {
    text-shadow:
      0 0 5px #FFF,
      0 0 9px #FFF,
      0 0 18px #FFF,
      0 0 36px var(--neon-color),
      0 0 49px var(--neon-color),
      0 0 65px var(--neon-color),
      0 0 89px var(--neon-color),
      0 0 140px var(--neon-color);
  }

 
}
 .presentacion{
    background-image: url(../public/fondo2.jpg);
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  :root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    --clr-neon-blue:hsla(195, 100%, 52%, 1)
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  
  .docs {
    
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon-blue);
    border: var(--clr-neon-blue) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-blue), 0 0 0.5em 0 var(--clr-neon-blue);
  
    position: relative;
  }
  
  .docs::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon-blue);
    
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .docs::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon-blue);
    opacity: 0;
    background-color: var(--clr-neon-blue);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .docs:hover,
  .docs:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .docs:hover::before,
  .docs:focus::before {
    opacity: 1;
  }
  .docs:hover::after,
  .docs:focus::after {
    opacity: 1;
  }

  
  .go {
    
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .go::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);

  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .go::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .go:hover,
  .go:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .go:hover::before,
  .go:focus::before {
    opacity: 1;
  }
  .go:hover::after,
  .go:focus::after {
    opacity: 1;
  }

  :root {
    --clr--neon-red: #FF0000;
  }
 .ticker-blue{
  box-shadow: 0 0 2em 0.2em var(--clr-neon-blue);
 }
 .ticker-pink{
  box-shadow: 0 0 2em 0.2em var(--neon-color);
 }
 .ticker-red{
  box-shadow: 0 0 2em 0.2em var(--clr--neon-red);
 }


 /*  */
 /*  */
 /*  */





.slideshow {
	margin: 0 auto;
	padding-top: 50px;
	height: 600px;
	width: 300px;

	box-sizing: border-box;
}




.entire-content {
	margin-left:660px;
	width: 190px;
	perspective: 50000px;

	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	
	float: right;
	animation: rotar 3s infinite linear;
	transform-style: preserve-3d;
}

/* .content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;

  OJOOOOOO esto viene bien para cuando queramos parar el carrusel
} */

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
  z-index:0;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 


.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	
}



@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}
.marco{
  top:170px;
  left: 405px;
	border-top: 40px solid #111827;
  border-bottom : 40px solid #111827;
  border-left: 170px solid #111827;
  border-right: 170px solid #111827 ;


	height: 200px;
	width: 800px;
 z-index: 99;
}
.item1{
  height:100%;
  width: 50%;
  border: 1px solid black;
}
.item2{

    height:100%;
    width: 50%;
    border: 1px solid black;
  
  
}